* {
  box-sizing: border-box;
}

body {
  width: 200px;
  margin: 0 auto;
}

.header {
  background-color: #141f40;
  position: relative;
  height: 200px;
}

.nav {
  background-color: white;
  position: absolute;
  top: 20px;
  right: 70px;
  padding: 10px;
}

.nav-item {
  width: 40px;
  height: 40px;
  background-color: #a9004b;
}

.nav-item:nth-child(2) {
  margin: 10px 0;
}

.left {
  background-color: #80bfa8;
  min-height: 100px;
}
.right {
  background-color: #8c2727;
  padding: 20px 30px;
}

.right-item {
  background-color: #ff863f;
  width: 140px;
  height: 50px;
  border: 5px solid white;
}

.right-item:nth-child(2) {
  margin: 10px 0;
}

.footer {
  background-color: #d98d30;
  height: 100px;
}

@media screen and (min-width: 480px) {
  body {
    width: 400px;
    margin: 0 auto;
  }

  .header {
    height: 100px;
  }

  .nav {
    display: flex;
    right: 20px;
  }

  .nav-item:nth-child(2) {
    margin: 0 10px;
  }

  .main {
    display: flex;
  }

  .left {
    width: 150px;
  }

  .right {
    width: 250px;
    padding: 40px 60px 40px 40px;
  }
}
